{{#if isSendMessageButton}}
    <button class="button-send"><span class="send"><svg height="12" viewbox="0 0 13 12" width="13" xmlns="http://www.w3.org/2000/svg">
    <rect fill="white" height="1.6" width="11" y="5.19995"></rect>
    <path d="M7 1L11 6L7 11" stroke="white" stroke-width="1.6"></path></svg></span></button>
{{else}}
	<button class="{{class}}">{{title}}</button>
{{/if}}