<div>
<div class="main">
	<section class="profile">
		{{{profileSidebarBlock}}}
		<div class="profile-content">
			<form class="profil-forma">
				{{{profileAvaBlock}}}
			  	<h1>Вадим</h1>
				<div class="prof-table d-flex">
          {{#each profileRowBlock}}
            {{{ this }}}
          {{/each}}
				</div>
				<div class="prof-table d-flex data-forma">
		          {{#each profileChangeLinkBlock}}
		            {{{ this }}}
		          {{/each}}
				</div>
				<div class="out-profil"><a href="login">Выйти</a></div>
			</form>	
		</div>
	</section>
</div>
{{#if isChangeAva}}

<div class="modal-overley">
	<form class="modal">
		<h3>Загрузите файл</h3>
		<div class="inp-holder">   
			<input type="file" placeholder="Выбрать файл на компьютере" id="file-sel">
			<span class="file-sel d-none">Выбрать файл на компьютере</span> 
			<label for="file-sel">Выбрать файл на компьютере</label>
		</div>   
		<button>Поменять</button>
	</form> 
</div>
{{/if}}
</div>