<div class="main">
	<section class="profile">
		{{>profileSidebar}}
		<div class="profile-content">
			<form class="profil-forma">
				{{>profileAva}}
			  	<h1>Вадим</h1>
				<div class="prof-table d-flex">
					{{>profileRow description="Почта" value="asktask@icloud.ru"}}
					{{>profileRow description="Логин" value="vadimmaharram"}}
					{{>profileRow description="Имя" value="Вадим"}}
					{{>profileRow description="Фамилия" value="Махаррам"}}
					{{>profileRow description="Имя в чате" value="Вадим"}}
					{{>profileRow description="Телефон" value="+7 (909) 967 30 30"}}
				</div>
				<div class="prof-table d-flex data-forma">
					{{>profileChangeLink description="Изменить данные" link="profile-change-data"}}
					{{>profileChangeLink description="Изменить пароль" link="profile-change-pass"}}
				</div>
				<div class="out-profil"><a href="#">Выйти</a></div>
			</form>	
		</div>
	</section>
</div>
{{#if changeAva}}
<div class="modal-overley">
	<form class="modal">
		<h3>Загрузите файл</h3>
		<div class="inp-holder">   
			<input type="file" placeholder="Выбрать файл на компьютере" id="file-sel">
			<span class="file-sel d-none">Выбрать файл на компьютере</span> 
			<label for="file-sel">Выбрать файл на компьютере</label>
		</div>   
		<button>Поменять</button>
	</form> 
</div>
{{/if}}
