form.profil-forma .inp-holder {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  margin-bottom: 1rem;
}

form.profil-forma .inp-holder label {
  font-style: normal;
  font-weight: 500;
  font-size: 9px;
  line-height: 9px;
  color: var(--main-input-placeholder);
  margin: 0;
  display: block;
  opacity: 0;
  order: 2;
}

form.profil-forma .inp-holder input {
  display: block;
  height: 2.8rem;
  width: 100%;
  background-color: var(--button-color);
  border-radius: 0;
  padding: 0 2rem;
  margin-top: 4px;
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 2.8rem;
  color: var(--main-body-color);
  margin-bottom: 0.7rem;
  border-bottom: 1px solid var(--input-border-bottom-color);
  order: 2;
}

form.profil-forma .inp-holder span.warn {
  color: red;
  order: 0;
  opacity: 0;
  height: 0;
}
