<div class="main">
<section class="profile">
	<div class="profile-sidebar">
		<button class="left-arrow-button">
		<span class="left-arrow-button">
		<svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
		<circle cx="14" cy="14" r="14" transform="rotate(-180 14 14)" fill="#3369F3"/>
		<rect x="20" y="14.8" width="11" height="1.6" transform="rotate(-180 20 14.8)" fill="white"/>
		<path d="M13 19L9 14L13 9" stroke="white" stroke-width="1.6"/>
		</svg>
	</span>
</button>
	</div>
	<div class="profile-content">
		<form class="change-profil-forma">
			<div class="profil-ava" onclick="location.href='profile-new-ava-modal-choose-file';">			
				<span class="no-ava">
					<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd" clip-rule="evenodd" d="M36 2H4C2.89543 2 2 2.89543 2 4V25.2667L14.6547 22.3139C15.5486 22.1053 16.4635 22 17.3814 22H22.6186C23.5365 22 24.4514 22.1053 25.3453 22.3139L38 25.2667V4C38 2.89543 37.1046 2 36 2ZM4 0C1.79086 0 0 1.79086 0 4V36C0 38.2091 1.79086 40 4 40H36C38.2091 40 40 38.2091 40 36V4C40 1.79086 38.2091 0 36 0H4ZM10.9091 14.5455C12.9174 14.5455 14.5455 12.9174 14.5455 10.9091C14.5455 8.90079 12.9174 7.27273 10.9091 7.27273C8.90082 7.27273 7.27276 8.90079 7.27276 10.9091C7.27276 12.9174 8.90082 14.5455 10.9091 14.5455Z" fill="#CDCDCD"/>
					</svg>
				</span>
			</div>
<div class="change-profil-forma">
		<div class="inp-holder  d-none">
		<input  type="text" placeholder="pochta@yandex.ru" id="email" pattern="^[A-Za-zА-Яа-яЁё\s]{6,}">
		<span class="warn" style="opacity: 0; height: 0;">Неверный адрес почты</span>	
		<label for="email">Почта</label>
		</div> 		
		<div class="inp-holder  d-none">	
		  <input  type="text" placeholder="ivanivanov" id="login" pattern="^[A-Za-zА-Яа-яЁё\s]{6,}">
		<label for="login">Логин</label>
			<span class="warn" style="opacity: 0; height: 0;">Неверный Логин</span>
		</div>		
		<div class="inp-holder  d-none">	
		  <input  type="text" placeholder="Иван" id="name" pattern="^[A-Za-zА-Яа-яЁё\s]{6,}">
		<label for="name">Имя</label>
			<span class="warn" style="opacity: 0; height: 0;">Неверное Имя</span>
		</div>		
		<div class="inp-holder  d-none">	
		  <input  type="text" placeholder="Иванов" id="familiya" pattern="^[A-Za-zА-Яа-яЁё\s]{6,}">
		<label for="familiya">Фамилия</label>
			<span class="warn" style="opacity: 0; height: 0;">Неверная Фамилия</span>
		</div>
		<div class="inp-holder  d-none">	
		  <input  type="text" placeholder="Иван" id="chatname" pattern="^[A-Za-zА-Яа-яЁё\s]{6,}">
		<label for="chatname">Имя в чате</label>
			<span class="warn" style="opacity: 0; height: 0;">Неверное Имя</span>
		</div>
		<div class="inp-holder  d-none">	
		  <input  type="text" placeholder="+7 (909) 967 30 30" id="phone" pattern="^[A-Za-zА-Яа-яЁё\s]{6,}">
		<label for="phone">Телефон</label>
			<span class="warn" style="opacity: 0; height: 0;">Неверный телефон</span>
		</div>
		<div class="inp-holder">	
		  <input  type="password" placeholder="Старый пароль" id="password" pattern="^[A-Za-zА-Яа-яЁё\s]{6,}">
		<label for="password">Старый пароль</label>
			<span class="warn" style="opacity: 0; height: 0;">Неверный пароль</span>
		</div>		
		<div class="inp-holder">	
		  <input  type="password" placeholder="Новый пароль" id="passwordnew" pattern="^[A-Za-zА-Яа-яЁё\s]{6,}">
		<label for="passwordnew">Новый пароль</label>
			<span class="warn" style="opacity: 0; height: 0;">Пароли не совпадают</span>
		</div>		
		<div class="inp-holder">	
		  <input  type="password" placeholder="Повторите новый пароль" id="passwordpovt" pattern="^[A-Za-zА-Яа-яЁё\s]{6,}">
		<label for="passwordpovt">Повторите новый пароль</label>
			<span class="warn" style="opacity: 0; height: 0;">Пароли не совпадают</span>
		</div>
			<div class="forma-footer">		
		  	<button>Сохранить</button>
			</div>
</div>
		</form>	
	</div>
</section>
</div>