<div class="main">
	<section class="profile">
		{{>profile_sidebar}}
		<div class="profile-content">
			<form class="change-profil-forma">
				{{>profile_ava}}
				<div class="change-profil-forma">
					{{#if change_pass}}
						{{>profile_change_row type="password" description="Старый пароль" id="passwordold" _errormessage="Неверный пароль"}}
						{{>profile_change_row type="password" description="Новый пароль" id="passwordnew" _errormessage="Пароли не совпадают"}}
						{{>profile_change_row type="password" description="Повторите новый пароль" id="passwordpovt" _errormessage="Пароли не совпадают"}}	
					{{else}}
						{{>profile_change_row type="text" placeholder="pochta@yandex.ru" description="Почта" id="email" _errormessage="Неверный адрес почты"}}
						{{>profile_change_row type="text" placeholder="vadimmaharram" description="Логин" id="login" _errormessage="Неверный Логин"}}
						{{>profile_change_row type="text" placeholder="Вадим" description="Имя" id="name" _errormessage="Неверное Имя"}}
						{{>profile_change_row type="text" placeholder="Махаррам" description="Фамилия" id="familiya" _errormessage="Неверная Фамилия"}}
						{{>profile_change_row type="text" placeholder="Вадим" description="Имя в чате" id="chatname" _errormessage="Неверное Имя"}}
						{{>profile_change_row type="text" placeholder="+7 (909) 967 30 30" description="Телефон" id="phone" _errormessage="Неверный телефон"}}
					{{/if}}
						<div class="forma-footer">		
					  	<button>Сохранить</button>
						</div>
				</div>
			</form>	
		</div>
	</section>
</div>