<div class="main"> 
<section class="error">	
<h1 class="title">{{errorCode}}</h1>
<h2 class="subtitle">{{errorMessage}}</h2>
<p class="error-p"><a class="error-p-a" href="messenger">Назад к чатам</a></p>
</section>
</div>
